<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/utility.css">
    <link rel="stylesheet" href="/styles/form.css">
</head>
<body>
    <div class="container">
        <div class="heading flex items-center">
            <nav class="nav flex justify-between">
                <h1>KhaataBook App</h1>    
                <div class="nav-r flex">
                    <a href="/">
                        <h4>Home</h4>
                    </a>
                    <a href="/create">
                        <h4>Create New Record</h4>
                    </a>
                </div>
            </nav>
        </div>
        <div class="records-container border flex flex-col items-center">
            <div class="inner-heading">
            </div>
            <div class="records form-container flex justify-center">
                <form method="post" action="/update/<%= filename %>" class="flex flex-col items-center">
                    <h2 style="color: rgba(0, 0, 0, 0.659);">You're editing Hisaab of <span style="color: teal; text-decoration: underline;"><%= filename %></span> Date</h2>
                    <textarea class="form-common description" name="description" rows="10" placeholder="Write your hissab"><%= filedata %></textarea>
                    <button class="btn" type="submit">Update Hissab</button>
                </form>
            </div>  
        </div>
    </div>
</body>
</html>