.flex{
    display: flex;
}

.flex-col{
    flex-direction: column;
}

.border{
    border: 1px solid black;
}

.items-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.justify-between{
    justify-content: space-between;
}

.justify-around{
    justify-content: around;
}